# Global ignores
.DS_Store
*.log
*.env
*.local

# Top-level node_modules
/node_modules

# Nested app
synthetic-react-app/node_modules
synthetic-react-app/build
synthetic-react-app/.env
synthetic-react-app/.DS_Store
**/pages/test-data/
ml/models
ml/venv
