import React from 'react';
import Parent from './Parent';

const <%= componentName %> = () => {
  return (
    <div style={{ display: 'flex', flexDirection: '<%= layout %>' }}>
      <h2><%= pageName %></h2>
      <Parent user={{ name: 'Krishna' }} />
    </div>
  );
};

export default <%= componentName %>;
